Задание 9. Работа с хранилищем данных с помощью языка SQL

Инструкция:

Шаг 1.  Изучите материалы лекционных и практических занятий по темам раздела 5.

Шаг 2. Выполните получение данных из предложенной базы данных (Алгоритм выполнения представлен в практическом занятии по теме 5.3).

Шаг 3. Составьте запросы к данным в соответствии с заданными условиями фильтрации, сортировки, группировки и объединения данных (Алгоритм выполнения представлен в практическом занятии по теме 5.3).

Шаг 4. Опубликуйте файл расширения ipynb на платформе Odin.

В рамках задания вам необходимо сделать выборку данных с помощью запросов SQL.

Получите результирующее множество из БД в соответствии с заданными условиями выборки, сортировки, группировки данных:

1. Выведите авторов, имеющихся в базе.
2. Найдите всех авторов с инициалами "С. А.". Автор в базе определяется так: И. О. Фамилия
3. Выведите список книг, выпущенных в издательстве "Мир".
4. Выведите количество книг, принадлежащих каждой из категорий. Результат отсортировать по возрастанию.
5. Выведите количество книг, выпущенных в каждом издательстве. В итоговом списке оставьте только те издательства, которые выпустили 3 и более книг. Результат отсортировать по убыванию.
6. Выведите список книг, автором которых являлся <<С. А. Айвазян>>.
7. В каких издательствах и сколько выпускались книги за авторством <<С. А. Айвазян>>. Результат отсортировать по убыванию.

**Структура БД**

<figure>
<center>
<img src='https://drive.google.com/uc?export=view&id=160L6VoP2kz8mJfpFuLWF6_SdoVcvkT-J' width="400" height="400" />
<figcaption>Структура базы </figcaption></center>
</figure>

In [ ]:
# Подключаем библиотеку
import pandas as pd
import sqlite3

In [ ]:
# Подключаемся к базе и создаем курсор

con = sqlite3.connect("/content/book_simple.db.db")
cur = con.cursor()

In [ ]:
# Сделаем запрос на информацию по таблицам в БД

request_info = """
SELECT name FROM sqlite_master
WHERE type='table'
ORDER BY name;
"""

In [ ]:
# Выполним запрос, видим, что БД состоит из 5 таблиц, как на картинке выше

res = cur.execute(request_info)
res.fetchall()

[('author',), ('authorbook',), ('book',), ('category',), ('publisher',)]

In [ ]:
# Посмотрим одну из таблиц, например book

show_book = """
SELECT *
FROM book;
"""
pd.read_sql(show_book, con)

,id,title,publisher_id,address,year,edition,numpages,language,remark,category_id
0,1,Выбор вариантов: основы теории,1,М.,1990,,240,russian,,4
1,2,Экономический анализ,2,М.,2005,"11-е изд., испр. и доп.",651,russian,,4
2,3,Имитационное моделирование. Классика CS,3,СПб.,2004,3-е изд.,847,russian,,3
3,4,Математическая экономия,4,М.,1963,,669,russian,,4
4,5,Управление производством при нечеткой исходной...,5,М.,1991,,240,russian,,2
...,...,...,...,...,...,...,...,...,...,...
823,824,Теория графов: алгоритмы обработки деревьев,1,Новосибирск,1994,,360,russian,,3
824,825,Микроэкономика. Принципы и анализ,39,М.,2011,,720,russian,,3
825,826,Проектирование интегрированных систем библиоте...,217,М.,2007,,172,russian,,1
826,827,Экономико-математические методы,218,Кемерово,2011,"3-е изд., испр. и доп.",222,russian,,1
827,828,Когомологий бесконечномерных алгебр Ли,1,М.,1984,,272,russian,,4

In [ ]:
# 1. Выведите авторов, имеющихся в базе.

aut = """
SELECT name
FROM author;
"""
pd.read_sql(aut, con)

                 name
0      М. А. Айзерман
1     Ф. Т. Алескеров
2      Г. В. Савицкая
3          В. Кельтон
4              А. Лоу
...               ...
1005   В. Н. Касьянов
1006        Ф. Коуэлл
1007    В. В. Ступкин
1008   М. А. Тынкевич
1009       Д. Б. Фукс

[1010 rows x 1 columns]

In [ ]:
# 2. Найдите всех авторов с инициалами "С. А.".
# Автор в базе определяется так: И. О. Фамилия

aut_1 = """
SELECT name
FROM author
WHERE name LIKE "С. А. %";
"""
pd.read_sql(aut_1, con)

                name
0      С. А. Айвазян
1   С. А. Орловского
2       С. А. Смоляк
3     С. А. Айвазян
4     С. А. Калмыков
5   С. А. Дубровский
6      С. А. Аристов
7      С. А. Иванков
8     С. А. Айвазяна
9    С. А. Горбатков
10   С. А. Орловский
11     С. А. Ашманов
12       С. А. Орлов

In [ ]:
# 3. Выведите список книг, выпущенных в издательстве "Мир".

book_mir = """
SELECT book.title,
       publisher.name
FROM book, publisher
WHERE (publisher.id = book.publisher_id) AND (publisher.name = 'Мир')
"""
pd.read_sql(book_mir, con)

                                                title name
0   Имитационное моделирование систем: искусство и...  Мир
1   Введение в имитационное моделирование и язык С...  Мир
2                        Основы исследования операций  Мир
3       Выпуклые структуры и математическая экономика  Мир
4     Нелинейное программирование. Теория и алгоритмы  Мир
..                                                ...  ...
79                   Линейная алгебра и ее применение  Мир
80  Теория синтаксического анализа, перевода и ком...  Мир
81  Теория синтаксического анализа, перевода и ком...  Мир
82       Введение в программирование на языке Паскаль  Мир
83                  Программирование на языке Паскаль  Мир

[84 rows x 2 columns]

In [ ]:
# 4. Выведите количество книг, принадлежащих каждой из категорий.
# Результат отсортировать по возрастанию.

book_col_cat = """
SELECT category.title,
       COUNT (book.id) AS 'Количество книг'
FROM category
INNER JOIN book
ON category.id = book.category_id
GROUP BY category.title
ORDER BY 2 ASC;
"""
pd.read_sql(book_col_cat, con)

                                             title  Количество книг
0                              Экономические науки              198
1                        Информационные технологии              201
2  Теория вероятностей и математическая статистика              214
3                          Математическая экономия              215

In [ ]:
# 5. Выведите количество книг, выпущенных в каждом издательстве.
# В итоговом списке оставьте только те издательства, которые выпустили 3 и более книг.
# Результат отсортировать по убыванию.

In [ ]:
book_col_publ = """
SELECT publisher.name,
       COUNT (publisher.name) AS 'Количество_книг'
FROM publisher
INNER JOIN book
ON publisher.id = book.publisher_id
GROUP BY publisher.name
HAVING Количество_книг >= 3
ORDER BY 2 DESC;
"""
pd.read_sql(book_col_publ, con)

                      name  Количество_книг
0                    Наука              152
1                      Мир               84
2     Финансы и статистика               38
3                ФИЗМАТЛИТ               28
4            Радио и связь               26
5               Статистика               26
6                    Питер               23
7                  Вильямс               20
8                Высш. шк.               19
9           Машиностроение               15
10              ЮНИТИ-ДАНА               15
11                 ИНФРА-М               12
12              Сов. радио               12
13                Прогресс                9
14               Экономика                9
15           БХВ-Петербург                8
16                    Дело                7
17                  Знание                7
18                     ИИЛ                7
19                     МГУ                6
20                    МЭСИ                6
21          Едиториал УРСС                5
22             Просвещение                5
23     Экономическая школа                5
24         Энергоатомиздат                5
25              Юнити-Дана                5
26                     ВГУ                4
27                     ЛКИ                4
28                     НГУ                4
29             Наук. думка                4
30               Физматлит                4
31                 Экзамен                4
32                   Эксмо                4
33                 Энергия                4
34                     АНХ                3
35                Академия                3
36                  ГУ ВШЭ                3
37           Дело и Сервис                3
38                ЛИБРОКОМ                3
39                      ЛУ                3
40             Символ-Плюс                3
41  Советская Энциклопедия                3
42               Физматгиз                3
43                 Штиинца                3

In [ ]:
# 6. Выведите список книг, автором которых являлся <<С. А. Айвазян>>.

book_caa = """
SELECT author.name,
       book.title
FROM book
INNER JOIN authorbook
ON book.id = authorbook.book_id
INNER JOIN author
ON author.id = authorbook.author_id
WHERE author.name = 'С. А. Айвазян'
"""
pd.read_sql(book_caa, con)

            name                                              title
0  С. А. Айвазян                              Социальные индикаторы
1  С. А. Айвазян  Прикладная статистика. Основы эконометрики: Уч...
2  С. А. Айвазян  Прикладная статистика: Классификации и снижени...
3  С. А. Айвазян   Прикладная статистика: Исследование зависимостей
4  С. А. Айвазян  Прикладная статистика: Основы моделирования и ...
5  С. А. Айвазян                 Статистика. Вероятность. Экономика
6  С. А. Айвазян               Классификация многомерных наблюдений
7  С. А. Айвазян      Прикладная статистика в задачах и упражнениях

In [ ]:
# 7. В каких издательствах и сколько выпускались книги за авторством <<С. А. Айвазян>>.
# Результат отсортировать по убыванию.

publ_col = """
SELECT publisher.name AS 'Издательство',
       COUNT (publisher.name) AS 'Количество_книг',
       author.name AS 'Автор'
FROM publisher
INNER JOIN book
ON publisher.id = book.publisher_id
INNER JOIN authorbook
ON book.id = authorbook.book_id
INNER JOIN author
ON author.id = authorbook.author_id
WHERE author.name = 'С. А. Айвазян'
GROUP BY publisher.name
ORDER BY 2 DESC;
"""
pd.read_sql(publ_col, con)

           Издательство  Количество_книг          Автор
0  Финансы и статистика                3  С. А. Айвазян
1            ЮНИТИ-ДАНА                2  С. А. Айвазян
2            Юнити-Дана                1  С. А. Айвазян
3            Статистика                1  С. А. Айвазян
4                 Наука                1  С. А. Айвазян